<h1>Dictionary (written by Haggai Lerman 19/06/18)</h1>

<p>-----------------------------------------</p>
<%= link_to("ADD NEW WORD", new_entry_url) %>
<p>------------------------------------------</p>
<h4>Click on a word to find it definition:</h4>
<% @enteries.each do |entry| %>
    <p><%=link_to("#{entry.word}", entry_url(entry)) %></p>
<% end %>
